<article>
    <header>
      <h2><%= @project.name %></h2>
    </header>
    <p>
      <%= @project.description %>
    </p>
    <table>SS
      <tr>
        <th>Target Pledge Amount:</th>
        <td><%= number_to_currency(@project.target_pledge_amount) %></td>
      </tr>
      <tr>
        <th>Website:</th>
        <td><%= @project.website %></td>
      </tr>
      <tr>
        <th>Pledging Ends:</th>
        <td><%= format_pledging_ends_on(@project) %></td>
      </tr>
    </table>
  </article>
  <%= link_to "All Projects", root_path %>